.cart {
    padding: 30px 20px;
}

.personal-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 0 10px;

}

.break-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 20px;
}

.break-info button {
    background-color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.break-info button:hover {
    background-color: orange;
}

.exercise-details p {
    background-color: gainsboro;
    padding: 10px;
}

.complete-btn {
    text-align: center;
}

.complete-btn button {
    background-color: white;
    padding: 15px 35px;
    border: none;
    border-radius: 15px;
}

.complete-btn button:hover {
    background-color: orange;
}