.main-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: whitesmoke;
}

.activity-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 50px 50px;
}

.cart-container {
    background-color: lightgrey;
}

@media screen and (max-width: 767px) {
    .activity-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .main-container {
        grid-template-columns: repeat(1, 1fr);
    }
}